.FaceRecognition-container {
    display: grid;
    justify-content: space-around;
}

.FaceRecognition-bounding_box {
    position: absolute;
    border: 0.3px solid #149df2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.FaceRecognition-div {
    position: relative;
    top: 20px;
}

.FaceRecognition-container img {
    border-radius: 10px;
    box-sizing: content-box;
    width: 550px;
    height: auto;
    border: 1px solid #464646;
}