.bounding_box {
    position: absolute;
    border: 0.3px solid #149df2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.FaceRecognition-div {
    position: relative;
    top: 100px;
    
}

.FaceRecognition-div img {
    border-radius: 10px;
    box-sizing: content-box;
    width: 600px;
    height: 350px;
    border: 3px solid #464646;
}